[Unit]
Description=Run Velojol backup daily

[Timer]
OnCalendar=*-*-* 03:15:00
Persistent=true
Unit=velojol-backup.service

[Install]
WantedBy=timers.target
