:root {
  --light-prime-invert-25: #1A1A1A40;
  --light-prime-invert-50: #1A1A1A80;
  --light-prime-invert-100: #000000;
  --light-prime-invert-200: #1A1A1A;
  --light-prime-invert-300: #262626;
  --light-prime-invert-400: #333333;

  --light-prime-25: #FFFFFF40;
  --light-prime-50: #FFFFFF80;
  --light-prime-100: #fff;
  --light-prime-200: #F2F2F2;
  --light-prime-300: #D9D9D9;

  --light-accent-100: #CCFF00;
}
