.status-pending {
    background: var(--warning20) !important;
    color: var(--warning100) !important;
}

.status-approved {
    background: var(--accent80) !important;
    color: var(--accent200) !important;
}

.status-rejected {
    background: #f8d7da;
    color: #721c24;
}

.badge_s{
    display: flex;
    flex-direction: row;
    gap: var(--spacer-xs);
    min-width: 19px;
    height: 19px;
    padding: 2px 8px;
    align-items: center;
    border-radius: 1000px;
    text-align: center;
    justify-content: center;
    font-size: 12px !important;
    line-height: 15px !important;
}

.badge_m{
    display: flex;
    flex-direction: row;
    gap: var(--spacer-xs);
    min-width: 54px;
    height: var(--spacer-l);
    padding: 4px 8px;
    align-items: center;
    border-radius: 1000px;
    text-align: center;
    justify-content: center;
    font-size: var(--spacer-m);
    line-height: 20px !important;
    background-color: var(--secondary10);
}

.badge_s img{
    width: 10px;
    height: 10px;
}