button{
    border: none;
    width: 100%;
}

a{
    text-decoration: none;
}

.button_square_label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 14px;
    height: 48px;
    color: var(--text-button);
    text-decoration: none;
    transition: background-color 0.1s ease;
    border-radius: var(--spacer-m);
    width: 100%;
}

.button_square_label:hover{
    background-color: var(--bg4);
}

.btn_accent{
    background-color: var(--accent100);
    color: var(--prime_invert100);
    transition: ease-in-out 0.1s;
}

.btn_accent:hover{
    background-color: var(--accent200);
}

.btn_gray{
    background-color: var(--bg3);
    color: var(--prime100);
}

.btn_black{
    background-color: var(--prime100);
    color: var(--prime_invert100);
}

.btn_black:disabled{
    background-color: var(--prime50);
    color: var(--prime_invert50);
    cursor: not-allowed;
}

.button_wrapper_fixed{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: var(--spacer-l) var(--spacer-m);
    z-index: 1000;
}

.cell{
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--prime100);
    gap: var(--spacer-s);
}

.chevron_right{
    position: absolute;
    right: var(--spacer-m)
}

.debug-geometry-btn{
    display: none;
}

.button_square_icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: var(--spacer-m);
    background-color: var(--bg3);
}

.button_square_icon img{
    width: 24px;
    height: 24px;
}