:root {
    --bg1: #FEFEFE;
	--bg3 : #F2F2F2;
    --bg4 :#E6E6E6;

    --prime100: #121212;

    --prime-invert:#fefefe;


    --secondary20:rgba(106, 106, 106, 0.2);
    --secondary30:rgba(106, 106, 106, 0.3);
    --secondary40:rgba(106, 106, 106, 0.4);
    --secondary100:#6A6A6A;

    --accent80: #D6F3DD;
    --accent100:#34C759;
    --accent200:#2AA248;

    --prime_invert100:#fefefe;
}

.prime100{
    color: var(--prime100) !important;
}

.prime-invert100{
    color: var(--prime_invert100) !important;
}

.secondary100{
    color: var(--secondary100);
}

.bgsecondary20{
    background-color: var(--secondary20);
}

.bgsecondary30{
    background-color: var(--secondary30);
}

.bgsecondary40{
    background-color: var(--secondary40);
}

.bgprime100{
    background-color: var(--prime100);
}

.bgaccent100{
    background-color: var(--accent100);
}