
    /* Стили для flash-сообщений */
    .flash-messages {
        position: fixed;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: var(--spacer-m);
        z-index: 2000;
        max-width: 600px;
    }
    
    .flash-message {
        padding: var(--spacer-m);
        margin-bottom: var(--spacer-s);
        border-radius: var(--spacer-s);
        font-size: var(--spacer-m);
        line-height: 120%;
    }
    
    .flash-error {
        background-color: var(--red20);
        color: var(--red100);
        border: 1px solid var(--red100);
    }
    
    .flash-success {
        background-color: var(--accent80);
        color: var(--accent200);
        border: 1px solid var(--accent80);
    }
    
    .flash-info {
        background-color: var(--secondary20);
        color: var(--prime100);
        border: 1px solid var(--secondary20);
    }
    
    .flash-warning {
        background-color: var(--warning20);
        color: var(--warning100);
        border: 1px solid var(--warning100);
    }
    
    /* Анимация появления сообщений */
    .flash-message {
        animation: slideIn 0.3s ease-out;
    }
    
    @keyframes slideIn {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }