@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap);

body, textarea {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}


.fw600{
    font-weight: 600;
}

.fw700{
    font-weight: 700;
}


h3{
    font-size: 20px;
    line-height: var(--spacer-l);
    letter-spacing: -0.25px;
}

h4{
    font-size: var(--spacer-m);
    line-height: 20px;
    letter-spacing: -0.25px;
}

.caption{
    font-size: var(--spacer-sm);
    line-height: 15px;
    letter-spacing: -0.15px;
}

h5{
    font-size: var(--spacer-m);
    line-height: var(--spacer-l);
    letter-spacing: -0.25px;
}

h6{
    font-size: var(--spacer-sm);
    line-height: 15px;
    letter-spacing: 0.15px;
    font-weight: 500;
}

p, input, button, .cell, textarea{
    font-size: var(--spacer-m);
    line-height: 120%;
}

.cell{
    font-weight: 500;
    letter-spacing: 0.25px;
}

.tac{
    text-align: center;
}

.header3{
    margin-top: var(--spacer-m);
    margin-bottom: var(--spacer-s);
}


.fw500{
    font-weight: 500;
}

