<!DOCTYPE html>
<html>
<head>
    <title>VELOJOL</title>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Подробная карта велодорожек и велополос города">
    <meta name="keywords" content="Карта, велодорожки, город">
    <meta name="author" content="Velojol">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="Russian">

    <link rel="apple-touch-icon" sizes="180x180" href="static/images/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/fav/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="static/images/fav/safari-pinned-tab.svg" color="#121212">
    <meta name="msapplication-TileColor" content="#121212">
    <meta name="theme-color" content="#121212">
    
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://velojol.kz">
    <meta property="og:title" content="VELOJOL">
    <meta property="og:description" content="Подробная карта велодорожек и велополос города">
    <meta property="og:image" content="static/images/landing/meta.jpg">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors_dark.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cities.css') }}">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
    ym(95219611, "init", {
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true,
         webvisor:true
    });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/95219611" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
    <main>
        <!--Cover-->
        <div class="cover">
            <img src="{{ url_for('static', filename='images/velojol.svg') }}" alt="Logo">
        </div>

        <!--Banner-->
        <!--div class="banner">
            <p class="dark-prime-25 ">БЕСПЛАТНЫЙ КУРС</p>
            <h4 class="dark-prime-200">Курс “Велосипед в городе”</h4>
            <h5><a href="" class="dark-prime-invert-200 size_l bgprime300">
                Узнать подробнее
            </a></h5>
        </div-->

        <!--Cities-->
        <div class="block bgprime300">
            <h4 class="bold dark-prime-invert-200">Велодорожки в городах</h4>
            <ul class="cities">
                
                {% for city in cities %}
                    <a class="citycard gap8" href="{{ url_for('map', city_name=city.city.lower()) }}" class="city-link">
                            <img src="{{ url_for('static', filename='images/coat/' + city.coat) }}" alt="Coat of {{ city.city }}">
                            
                            <li>
                                <h5>{{ city.city }}</h5>
                                <p>{{ city.country }}</p>
                            </li>
                    </a>
                {% endfor %}

                <a href="https://tally.so/r/3lO0pV" target="_blank" class=" citycard gap8">
                    <img src="static/images/icon/plus1.svg" alt="plus icon">
                    <p class="dark-accent-100">Хочу свой город</p>
                </a>
            </ul>
        </div>

        

        <footer class="hstack">
            <p class="dark-prime-invert-50">VELOJOL 1.3</p>
            <p class="dark-prime-invert-50">2024</p>
        </footer>
    </main>
</body>
</html>
