<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Velojol 4.0{% endblock %}</title>
    
    <!-- Leaflet CSS для карт -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">

    {% block head %}{% endblock %}
</head>
<body>
    {% include 'components/header.html' %}

    <div class="container">
        <!-- Flash сообщения -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message flash-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <main>
            {% block content %}


                <!--Not logged in-->

                {% if current_user.is_authenticated %}
                    <p>Привет, {{ current_user.nickname }}! 👋</p>
                    <p>
                        <a href="{{ url_for('main.add_bikelane') }}" class="btn btn-success">Добавить велодорожку</a>
                        <a href="{{ url_for('auth.profile') }}" class="btn">Мой профиль</a>
                    </p>
                {% else %}
                <!--Logged in-->
                    <p>
                        <a href="{{ url_for('auth.register') }}" class="btn">Присоединиться</a>
                    </p>
                {% endif %}
            {% endblock %}
        </main>
    </div>

    {% include 'components/footer.html' %}

    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    
    
    <!-- Основные скрипты приложения -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
    {% block scripts %}{% endblock %}
</body>
</html>