<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}OPEN-VELOJOL{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon_io/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon_io/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon_io/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon_io/site.webmanifest') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon_io/favicon.ico') }}">
    
    <!-- Mapbox GL JS -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.25.0/mapbox-gl.css" rel="stylesheet">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/badges.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/images.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shett.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cities.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/city.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tapbar.css') }}">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function(m,e,t,r,i,k,a){
            m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
        })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=108766879', 'ym');

        ym(108766879, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", referrer: document.referrer, url: location.href, accurateTrackBounce:true, trackLinks:true});
    </script>
    <!-- /Yandex.Metrika counter -->

    {% block head %}{% endblock %}
</head>
<body>
    <noscript><div><img src="https://mc.yandex.ru/watch/108766879" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

    {% if not hide_header %}
        {% include 'components/header.html' %}
    {% endif %}

    <div class="container">
        <!-- Flash сообщения -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message flash-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <main>
            {% block content %}


                <!--Not logged in-->

                {% if current_user.is_authenticated %}
                    <p>Привет, {{ current_user.nickname }}! 👋</p>
                    <p>
                        <a href="{{ url_for('main.add_bikelane') }}" class="btn btn-success">Добавить велодорожку</a>
                        <a href="{{ url_for('auth.profile') }}" class="btn">Мой профиль</a>
                    </p>
                {% else %}
                <!--Logged in-->
                    <p>
                        <a href="{{ url_for('auth.login') }}" class="btn">Войти</a>
                    </p>
                {% endif %}
            {% endblock %}
        </main>
    </div>

    {% if not hide_tapbar %}
        {% include 'components/tapbar.html' %}
    {% endif %}

    {% if not hide_footer %}
        {% include 'components/footer.html' %}
    {% endif %}

    <script src="https://api.mapbox.com/mapbox-gl-js/v3.25.0/mapbox-gl.js"></script>
    
    
    <!-- Основные скрипты приложения -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
    {% block scripts %}{% endblock %}
</body>
</html>
